go 1.21.5

use (
	./app/admin
	./app/api
	./app/blob
	./app/car
	./app/profile
	./app/trip
	./app/user
	./app/web-api
)

replace (
	github.com/alimy/freecar/idle => ./idle
	github.com/apache/thrift => github.com/apache/thrift v0.13.0
)
